<section class="content__base">
    <div class="notification__base">
    <p class="notification__txt notification__txt--supporter">
        Send your cat to space now!
    </p>
    <form [formGroup]="addCatForm" (ngSubmit)="onSubmit(addCatForm.value)">
        <div class="form__inputWrapper">
            <label for="name" class="form__label">
                What's your lucky kitty's name?
            </label>
            <input class="form__input" id="name" type="text" formControlName="name">
            <button class="form__button" type="submit">Add Cat!</button>
        </div>
    </form>
    <a href="astronaut-cats" class="form_tinyLink">Go back!</a>
    </div>
</section>
